<div class="container">
    <!-- Main Start -->
    <main class="main">
        <section class="section">
            <div class="columns">
                <div class="column is-8">
                    <div class="content">
                        <h1 class="text-center">Blog Main</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                            iaculis mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus nec iaculis mauris.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                            iaculis mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus nec iaculis mauris.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                            iaculis mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus nec iaculis mauris.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Blog Card -->
        <section id="blog_id">
            <a href="/blog">
                <h2 class="text-center">{{blogCardTitle|uppercase}}</h2>
            </a> 
            <span style="margin-left:12rem;">{{blogCard.length}} tane blog var</span>
            <span  [hidden]="!(blogCard.length>=9)">9 ve Üzeri Blog Var</span>

            <ng-container *ngIf="blogCard.length>0; then blog; else noBlogCard"></ng-container>
            <ng-template #blog>
                <div class="container">
                    <div class="row">
                        <div *ngFor="let temp of blogCard | slice:0:9" class="col-sm-12 col-md-3 col-lg-4">
                            <div class="card">
                                <img class="card-img-top" [src]="temp.picture" alt="Title" />
                                <div class="card-body">
                                    <h2 class="card-title">{{temp.id}}</h2>
                                    <h4 class="card-title">{{temp.title}}</h4>
                                    <p class="card-text line-clamp-18">{{temp.description}}</p>
                                    <span class="text-muted float-start">{{temp.categoryName}}</span>
                                    <span class="text-muted float-end">{{temp.date | date:"fullDate"}}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </ng-template>
            <ng-template #noBlogCard>
                <div
                    class="alert alert-danger alert-dismissible fade show"
                    role="alert"
                >
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"
                    ></button>
                
                    <strong class="ms-5 me-2">Blog</strong>Gösterilecek Blog Yoktur ...
                </div>
                <p> Gösterilecek Blog Yoktur</p>
            </ng-template>


        </section>

    </main>
    <!-- Main End -->
</div>