<div class="container">
    <!-- Main Start -->
    <main class="main">
        <section class="section">
            <div class="columns">
                <div class="column is-8">
                    <div class="content">
                        <h1>Blog Main</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                            iaculis mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus nec iaculis mauris.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                            iaculis mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus nec iaculis mauris.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                            iaculis mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus nec iaculis mauris.
                        </p>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="content">
                        <h1>Blog Sidebar</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                            iaculis mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus nec iaculis mauris.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                            iaculis mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus nec iaculis mauris.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                            iaculis mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus nec iaculis mauris.
                        </p>
                    </div>
                </div>
                <div class="col-12">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius asperiores culpa sed nostrum tempora quasi dolorum ratione rem nesciunt illum ipsa porro vero et perferendis aliquam explicabo consectetur, reiciendis a?
                        Culpa quia repudiandae autem obcaecati esse ullam ad ipsam, voluptatum commodi. Illo dignissimos vero ratione aliquid temporibus culpa, doloremque rem atque vel aperiam! Harum, hic voluptas similique eos facere non.
                        Accusantium dolore, cupiditate distinctio nobis vitae id quasi illum pariatur sed ex magnam saepe! Dolore dolorum ab sit, deleniti dignissimos doloremque asperiores, quam dolores provident harum velit possimus repellat! Nobis.
                        Blanditiis voluptas sapiente temporibus consectetur fugit ipsa sit ea asperiores, rerum, similique repellendus, repudiandae voluptatibus eum unde deserunt reiciendis. Corporis repellendus ipsa qui quasi corrupti veritatis quia a, in nihil?
                        Cupiditate minima ad aut excepturi quasi, ut similique mollitia, eum quisquam quo officiis accusantium illo, perspiciatis odit explicabo in. Expedita, laboriosam voluptatibus praesentium cumque beatae dolorum accusamus ipsa facere doloremque?
                        Porro assumenda unde amet eos ut natus magni, similique distinctio, nihil, nulla doloribus architecto qui at accusamus temporibus nostrum est consectetur nisi possimus veniam voluptates incidunt! Voluptatibus quisquam quod suscipit.
                        Nemo possimus delectus quasi cum eos eligendi cupiditate recusandae cumque ab atque. Quis debitis vel rem deserunt, sint quia aut delectus nemo cumque earum ullam. Alias numquam consequatur maxime expedita.
                        Obcaecati, provident non consequuntur est minima blanditiis aliquam ipsum. Alias repellat autem vitae, dolores ratione voluptates sit provident iure deleniti unde non praesentium sequi quis iste harum, eos ea ipsam.
                        Sapiente assumenda iusto, aliquam qui in temporibus quam voluptates alias ducimus. Dolores vel ut cumque? Magni nemo deserunt veniam totam nobis. Mollitia, reiciendis consectetur laboriosam dolorum laborum est fuga explicabo.
                        Nisi non corporis distinctio provident esse error alias iste quos repellat, ad consequuntur officia incidunt tempora vero delectus. Quibusdam nam voluptates beatae illum nobis iure est esse nemo possimus debitis.
                        Quo deleniti error sed unde distinctio molestias esse magnam ea reiciendis ipsam optio similique explicabo a accusantium iure et, aperiam officia expedita illum totam ducimus voluptates? Assumenda dicta earum nisi?
                        Perferendis possimus hic iste cumque odio, quidem deleniti odit optio, numquam vero expedita tempora. Quam quis numquam perferendis, delectus, necessitatibus atque dicta, in non pariatur neque error. Adipisci, repellat ducimus.
                   
                    </p>
                </div>
            </div>
        </section>
    </main>
    <!-- Main End -->
</div>